desktop/appfe/Service References/appServicio/appService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52991/appService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/appWcfService" />
  <xs:element name="EjecutaOperacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/appWcfService" minOccurs="0" name="paramOperacion" nillable="true" type="q1:PAROPE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EjecutaOperacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/appWcfService" minOccurs="0" name="EjecutaOperacionResult" nillable="true" type="q2:RESOPE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>